Adafruit-Blinka==4.8.1
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-mcp3xxx==1.4.1
Adafruit-PlatformDetect==2.11.1
Adafruit-PureIO==1.1.5
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
prometheus-client==0.7.1
pyftdi==0.51.2
pyserial==3.4
pyusb==1.0.2
six==1.14.0
sortedcontainers==2.1.0
sysv-ipc==1.0.1
Werkzeug==1.0.1
